 name: GH Pages deploy

 on:
  push:
    branches: main
    paths-ignore:
      - "**.md"

jobs:
  build-gh-page:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
        persist-credentials: false

      - name: Install
        run: yarn install

      - name: Lint
        run: yarn lint:check

      - name: Build
        run: yarn build
        env:
        NODE_ENV: production

      - name: Deploy to GH Pages
        if: ${{ github.event_name != 'pull_request' }}
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist
